/problematicas/problema001/problema001/nbproject/private/
/problematicas/problema001/problema001/build/
/problematicas/problema002/problema002/nbproject/private/
/problematicas/problema002/problema002/build/
/problematicas/problema003/problema003/nbproject/private/
/problematicas/problema003/problema003/build/
/problematicas/problema004/problema004/nbproject/private/
/problematicas/problema004/problema004/build/
/problematicas/problema005/problema005/nbproject/private/
/problematicas/problema005/problema005/build/
